<br><br>
<h3 class="blog-post-title" onclick="JavaScript:return actions.edit({'title':'{{title}}', 'description':'{{description}}', 'id':'{{id}}'});">{{title}}</h3>
<p class="blog-post-meta">{{description}}</p>
<button onclick="JavaScript:return actions.delete({'id':'{{id}}'});">Delete</button>